on:
    push:
      branches:
        - dev
name: Test, Build and Release apk
jobs:
    build:
      name: Build APK
      runs-on: ubuntu-latest
      steps:
        - name: Clone repository
          uses: actions/checkout@v4
        - name: Set up Flutter
          uses: subosito/flutter-action@v2
          with:
            flutter-version: 3.19.6
        - run: flutter pub get
        # - run: flutter test
        - run: flutter create .
        - run: flutter build apk
        - run: flutter build appbundle
        - name: Release artifact
          uses: actions/upload-artifact@v4
          with: 
            name: app-release.apk
            path: build/app/outputs/flutter-apk/app-release.apk